body {
  padding: 0 10px 10px 10px;
  margin: 0 0 10px 0;

  color: rgb(153, 153, 153);
  text-shadow: rgb(255, 255, 255) 0 1px 0;

  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.radical-highlight {
  padding: 1px 4px;
  white-space: nowrap;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;

  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 0 inset;
  background-image: -webkit-linear-gradient(top, rgb(0, 170, 255),
                                                 rgb(0, 147, 221));
}

.kanji-highlight {
  padding: 1px 4px;
  white-space: nowrap;

  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 0 inset;
  background-image: -webkit-linear-gradient(top, rgb(255, 0, 170),
                                                 rgb(221, 0, 147));

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
}

.reading-highlight {
  padding: 1px 4px;
  white-space: nowrap;

  box-shadow: rgba(0, 0, 0, 0.8) 0 -2px 0 0 inset;
  background-image: -webkit-linear-gradient(top, rgb(85, 85, 85),
                                                 rgb(51, 51, 51));

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
}

.vocabulary-highlight {
  padding: 1px 4px;
  white-space: nowrap;

  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 0 inset;
  background-image: -webkit-linear-gradient(rgb(170, 0, 255),
                                            rgb(147, 0, 221));

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
}
